.heroSec {
    position: relative;
}

.heroContent {
    position: absolute;
    top: 0;
    bottom: 0;
}

#sec_1 {
    margin-top: 50px;
    background: url('/images//indian-monuments.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    height: calc(100vh - 80px);
}


.bus-img {
    /* filter: drop-shadow(30px 10px 4px #BEE5DB); */
    /* filter: drop-shadow(30px 10px 4px #4444dd);*/
    max-width: 80%;
}

.mainContent {
    margin-top: 150px;
}